body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('./assets/backs.jpg');
  position: relative;
  color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.btn {
  background-color: aquamarine;
  border: 1px solid rgb(0, 0, 0);
}

.btn:hover {
  background-color: rgb(0, 183, 255);
}

h1 {
  margin-bottom: 20px;
}

div {
  text-align: center;
  margin-left: 0%;
  padding: 0px;
}

.App {
  box-sizing: content-box;
  backdrop-filter: blur(10px);
}